@import "../../../variables";
@import "../../../dropdown";

.quiz{
    background-color: #fff;
    width: 100%;
  .margin-none {
    margin: 0;
  }
  .graph-div {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
  }

    .questions {
      background-color: #f5f3f3;
      margin-bottom: 10px;
      .label {
        background: #bbbaba;
        padding: 5px;
        margin-bottom: 5px;
      }
      .correct {
        background-color: #53ce53;
      }
      .incorrect {
        background-color: #f14d4de3;
      }
      .options {
        padding: 5px;
        margin-bottom: 5px;
      }
    }
    .buttons{
        div{
            button{
                width: 100%;
                height: 40px;
                font-size: 16px;
            }
        }
    }
    /deep/p-dropdown .ui-dropdown{
        display: block;
        // width: 100% !important;
        min-width: 200px;
      }
}

@media screen and (max-width: 768px) {
  .questions {
    .label {
      font-size: 0.8rem !important;
    }
    .options {
      font-size: 0.7rem !important;
    }
  }
}
