<div class="quiz">
    <div class="row margin-none">
      <div *ngIf="data" class="graph-div">
        <h3>Your score: {{correct_answers}}/{{quest.length}}</h3>
        <p-chart type="bar" [data]="data" [options]="chartOptions"></p-chart>

        <button *ngIf="correct_answers !== quest.length; else elseBlock" type="button" class="btn btn-primary" (click)="reload()">Try again</button>
        <ng-template #elseBlock>You nailed it!</ng-template>
      </div>



        <div *ngIf="quest" class="col-lg-12">
            <form role="form" [formGroup]="form" (ngSubmit)="submitForm()">
                <div class="questions" *ngFor="let quest of quest;let i = index;">
                    <div class="label" [ngClass]="{'correct': submitted && quest.correct, 'incorrect': submitted && !quest.correct}">{{i+1}}. {{quest.label}}</div>
                    <div class="options">
                        <p-dropdown [formControlName]="quest.control" placeholder="Options"
                         [options]="quest.options" [optionLabel]="'key'"></p-dropdown>
                         <app-control-messages [control]="form.controls[quest.control]"></app-control-messages>
                    </div>
                </div>
                <div class="row mt-2 buttons">
                  <div class="col-6">
                    <button type="button" (click)="resetForm()" *ngIf="!submitted" class="btn btn-secondary">Clear</button>
                  </div>
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary" *ngIf="!submitted">Submit</button>
                    </div>
                </div>
            </form>
        </div>


    </div>
</div>
