@import "../../../variables";

.content-div {
  width: 100%;
  font-family: sans-serif;
  padding: 20px;

  h1 {
    margin: 0;
    color: $primary-color;
  }
  h3 {
    margin: 40px;
  }

  button {
    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .content-div {
    h1 {
      font-size: 1.5rem !important;
    }
    h3 {
      font-size: 1.25rem !important;
    }
  }
}
