
  <div class="wrap">
    <div class="content-div">
      <h1>
        CRICKET TRIVIA
      </h1>
      <div>
        <h3>
          <i>Are you really a cricket fan? Let's check how much you know about it!</i>
        </h3>
      </div>
      <div>
        <button class="btn btn-primary" type="button">
          <a [routerLink]="'/quiz'">Take the Quiz</a>
        </button>
      </div>
    </div>

  </div>

