.main-div {
    width: 90%;
    max-width: 1200px;
    padding: 15px;
    margin: 10px auto;
    position: relative;
    background: white;
  }

@media screen and (min-width: 768px) {
  .main-div {
    width: 60% !important;
  }
}
