@import "./variables";
:host /deep/ .ui-dropdown .ui-dropdown-panel .ui-dropdown-items {
  padding: 0;
}
:host /deep/ .ui-dropdown .ui-dropdown-panel {
  z-index: 2 !important;
  background-color: white;
}
:host /deep/ .ui-dropdown {
  padding-right: 30px;
}
:host /deep/ .ui-dropdown .ui-dropdown-panel .ui-dropdown-items li {
  padding: 5px !important;
  border-left: 2px solid transparent;
  font-size: 14px;
  label {
    margin: 0;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.13);
  }
  color:#000;
}
:host /deep/ p-dropdown {
  .ui-dropdown {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 9px;
    padding-right: 30px;
    // width: 100%!important;d
    background-color: #fff;
    max-width: 100%;
    line-height: normal;
    // width:100%!important;
    .ui-dropdown-label {
      color: #000;
      margin: 0;
      font-size: 14px;
      label {
        margin-bottom: 0;
        font-size: 14px;
        color: #000;
      }
    }
  }
  &.full-width {
    .ui-dropdown {
      width: 100% !important;
    }
  }
}
:host /deep/ .ui-state-disabled {
  background-color: #dedede !important  ;
  color: #000 !important;
  opacity: 0.5;
}
:host /deep/ .ui-dropdown .ui-dropdown-trigger {
  right: 4px;
  .ui-dropdown-trigger-icon {
    color: #000;
    //font-size: 20px;
    height: 16px;
    width: 16px;
    //border: 1px solid black;
  }
}

:host/deep/.ui-helper-hidden-accessible{
  display: none;
}

:host /deep/ p-dropdown:not(.no-border) .ui-dropdown .ui-dropdown-label {
  padding: 0 5px;
  margin: 0;
  font-size: 14px;
  color: #000;
}
:host
  /deep/
  .ui-dropdown
  .ui-dropdown-panel
  .ui-dropdown-items
  li.ui-state-highlight {
  background-color: #000;
  color: white;
}

:host /deep/ .ui-dropdown .ui-dropdown-trigger .fa {
  color: #000;
}

:host /deep/ .ui-dropdown {
  border: solid 1px #dedede;
}

:host /deep/ p-dropdown {
  &.full-width {
    .ui-dropdown {
      width: 100% !important;
    }
  }
}

:host/deep/.ui-dropdown-items-wrapper{
  border: 1px solid #dedede;
}
:host/deep/.ui-dropdown .ui-dropdown-panel .ui-dropdown-items{
  margin-bottom: 0px;
}

:host/deep/p-dropdown.ng-invalid:focus .ui-dropdown {
  border: 2px solid red;
}

:host/deep/p-dropdown.ng-invalid.ng-touched .ui-dropdown {
  border: 2px solid red;
}

:host/deep/p-dropdown.ng-valid:focus .ui-dropdown {
  border: 2px solid $primary-color;
}
