/* You can add global styles to this file, and also import other style files */
@import "variables";

body {
  background-image: url("./assets/Main_BG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color:rgba(0, 0, 0, 0.5);
  background-attachment: fixed;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}
